/* /* p {
    color:skyblue;
}
h4{
    color:olivedrab;
}
h5 {
    color:purple;
}
ul>li{
    color:blueviolet;
}
.details{
    color:green;
}
.links:link{
    color: pink;
}
.links:visited{
    color:brown;
}
#para1{
    color:skyblue;
}
.colortext{
    color:red;
}
h1{
    color:red;
}
h2:hover {
    color:green;
} */
h2:hover {
  color:green;
} */
<img src="pic.jpg" alt="" class="loading please wait" class="responsive-image">

<style>
.responsive-image {
  max-width: 100%;
  height: auto;
}
</style>